.container {
  display: flex;
  min-height: 100vh;
  background: var(--color-gray-500);
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  color: var(--text);
  background: var(--color-gray-300);
  min-height: 100vh;
}
