.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
  gap: 80px;
  background: var(--color-white);
}

.label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--color-primary-500);
  font-family: var(--font-body);
}

.right p {
  font-family: var(--font-body);
  font-size: 1.1rem;
  color: var(--text-secondary);
  margin-bottom: 32px;
}

.actions {
  display: flex;
  gap: 16px;
}

/* Programs start */
.section {
  padding: 120px 80px;
  background: var(--color-gray-100);
}

.header span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--color-primary-500);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


/* Programs ends */

.eventsGrid, .blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.viewAllEvents,.viewAllBlogs {
  margin-top: 80px;

& a {
  font-family: var(--font-body);
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-primary-500);
}
}
























@media screen and (max-width: 768px) {
    .section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px 20px;
  gap: 40px;
  background: var(--color-white);
}

.label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--color-primary-500);
  font-family: var(--font-body);
}

.right p {
  font-family: var(--font-body);
  font-size: 1.1rem;
  color: var(--text-secondary);
  margin-bottom: 32px;
}

.actions {
  display: flex;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
}