.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  color: var(--text);
  font-size: 1rem;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0 2px 16px rgba(0,0,0,0.10);
  overflow: scroll;
}

.table th, .table td {
  padding: 1rem 0.7rem;
  text-align: left;
  border-bottom: 1px solid var(--color-primary-200);
}

.table th {
  background: var(--color-primary-50);
  color: var(--color-black);
}

.table tr:last-child td {
  border-bottom: none;
}

.filterRow {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filterLabel {
  font-weight: 600;
  color: var(--color-black);
}

.filterSelect {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-primary-200);
  font-size: 1rem;
}
