.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background: transparent;
    transition: all 0.4s ease;
}

.scrolled {
    background: #fff;
    box-shadow: var(--shadow-md);
}

.wrapperScrolled .navLinks a {
    color: #000;
}

.wrapper {
    width: 50%;
    border-radius: 50px;
    /* background: linear-gradient(
        135deg,
        var(--color-primary-50) 0%,
        var(--color-primary-100) 100%
    ); */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    transition: all 0.4s ease;
}

.wrapperScrolled {
    width: 100%;
    border-radius: 0;
    background: #fff;
    padding: 16px 40px;
}



.logo {
    width: fit-content;
    padding: 0;
    margin: 0;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & a img {
        object-fit: contain;
    }
}

.navLinks {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & a {
        color: #fff;
    }

    & a:active {
        color: var(--color-primary-500);
    }
}

.resIcon {
    border: .8px solid var(--color-primary-500);
    padding: 4px 8px;
    box-sizing: border-box;
    color: var(--color-primary-500);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    display: none;
}

.resNavLinks {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 20px;
    box-sizing: border-box;

    position: fixed;
    top: 80px;
    left: 0;

    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
}

.activeResNav {
    transform: translateX(0);
}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;

          & a {
            width: 100%;
            text-align: center;
        color: #000;
    }

    & a:active {
        color: var(--color-primary-500);
    }
}

@media screen and (max-width: 768px) {
.wrapper {
    width: 90%;
    padding: 16px;
}

.navLinks {
    display: none;
}

.navBtn {
    display: none;
}

.resIcon {
    display: flex;
}
}